version: '3'
services:
  elasticsearch:
     container_name: elasticsearch
     build:
        context: elasticsearch
        args:
           ELK_VERSION: $ELK_VERSION
     volumes:
       - ./elasticsearch/config/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml
       - ./elasticsearch/storage:/usr/share/elasticsearch/data:rw

     ports:
       - "9200:9200"
       - "9300:9300"

     environment:
       - ELASTIC_PASSWORD="changeme"
       - ES_JAVA_OPTS=-Xmx256m -Xms256m
       - discovery.type=single-node
       - bootstrap.memory_lock=true
       - http.cors.allow-origin=*

     ulimits:  
       memlock:  
         soft:  -1  
         hard:  -1
     networks:
       - elk

  logstash:
     container_name: logstash
     build:
        context: logstash
        args:
          ELK_VERSION: $ELK_VERSION
     volumes:
       - ./logstash/config/logstash.yml:/usr/share/logstash/config/logstash.yml
       - ./logstash/pipeline:/usr/share/logstash/pipeline
     environment:
       - ES_JAVA_OPTS=-Xmx256m -Xms256m
     ports:
       - "5000:5000"

     networks:
       - elk

     depends_on:
       - elasticsearch
  kibana:
     container_name: kibana
     build:
        context: kibana/
        args:
          ELK_VERSION: $ELK_VERSION
     volumes:
       - ./kibana/config:/usr/share/kibana/config
     ports:
       - "5601:5601"
     environment:
       - ELASTICSEARCH_PASSWORD="changeme"
       - ELASTICSEARCH_HOSTS="http://elasticsearch:9200"
     networks:
       - elk
     depends_on:
       - elasticsearch
  nginx:
     image: nginx:alpine
     container_name: nginx
     volumes:
       - './nginx/etc/nginx.conf:/etc/nginx/nginx.conf:ro'
       - './nginx/data:/usr/share/nginx/html:ro'
       - './nginx/etc/.htpasswd.user:/etc/nginx/.htpasswd.user:ro'
     links:
       - elasticsearch
       - kibana
     depends_on:
       - elasticsearch
       - kibana
     ports:
       - '80:80'
     networks:
       - elk      
         
networks:
   elk:
     driver: bridge
